*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2px;
  
}

.console {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.wiiscreen {
  width: 1280px;
  height: 720px;
  background: #f2f2f2;
  display: flex;
  
  gap: 10px;
  row-gap: 36px;
  padding-top: 80px;
  padding-left: 50px;

}

.wiiscreen img{
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 145px;
  display: block;
  border-radius: 15px;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
  border: 4px silver solid;
  background: white;

}

.wiiscreen2{
  display: flex;
  
}

.wiiscreen img:hover {
  border-color: #37b4e7;
  box-shadow:
    0 0 0 2px rgba(55,180,231,0.25),
    0 4px 10px rgba(0,0,0,0.15);
}
  .wii-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 1280px;
  height: 40px;

  pointer-events: none;
}

.wii-footer svg {
  width: 100%;
  height: 100%;
  display: block;
}

#titulo{
  color: #37b4e7;
  display: flex;
  justify-content: center;
  font-size: 30px;
}